[submodule "C Programming/upstream-voluntary-exercises"]
	path = C Programming/upstream-voluntary-exercises
	url = git@gitlab.tugraz.at:EDDB4C0A582C42FD/upstream-voluntary-exercises.git
[submodule "TOP/HTML&CSS/Foundations Course/HTML Foundations/html-boilerplate/Projects/TOP-css-exercises"]
	path = TOP/HTML&CSS/Foundations Course/HTML Foundations/html-boilerplate/Projects/TOP-css-exercises
	url = git@github.com:v0ry/TOP-css-exercises.git
[submodule "TOP/HTML&CSS/Foundations Course/css-exercises"]
	path = TOP/HTML&CSS/Foundations Course/css-exercises
	url = git@github.com:v0ry/css-exercises.git
[submodule "Complete-Python-3-Bootcamp"]
	path = Complete-Python-3-Bootcamp
	url = git@github.com:v0ry/Complete-Python-3-Bootcamp.git
[submodule "CPP"]
	path = CPP
	url = git@github.com:v0ry/CPP.git
